<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leader.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @leader.dob %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @leader.sex %>
</p>

<p>
  <strong>Address l1ne1:</strong>
  <%= @leader.address_l1ne1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @leader.address_line2 %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @leader.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @leader.email %>
</p>

<p>
  <strong>Diet status:</strong>
  <%= @leader.diet_status %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @leader.diet %>
</p>

<p>
  <strong>Allergy status:</strong>
  <%= @leader.allergy_status %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @leader.allergy %>
</p>

<p>
  <strong>Status:</strong>
  <%= @leader.status %>
</p>

<%= link_to 'Edit', edit_leader_path(@leader) %> |
<%= link_to 'Back', leaders_path %>
