<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @event.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @event.address_line2 %>
</p>

<p>
  <strong>Leader name:</strong>
  <%= @event.leader_name %>
</p>

<p>
  <strong>Leader phone:</strong>
  <%= @event.leader_phone %>
</p>

<p>
  <strong>Details:</strong>
  <%= @event.details %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
