<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @song.category %>
</p>

<p>
  <strong>Author:</strong>
  <%= @song.author %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @song.copyright %>
</p>

<p>
  <strong>Words:</strong>
  <%= @song.words %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @song.activity %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
